* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.container {
  display: grid;

  width: 70vw;
  height: 60vh; 
  grid-template-columns: repeat(2, 50%);
}
.im {
  display: grid;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);

  /* height: 60vh; */
}
.im {
  width: 50%;
  /* height: max-content; */
}
.prv {
  display: flex;
  flex-direction: column;
}
img {
  height: 60vh;
  /* width: 100%; */
} */
